<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alexa Themer</title>
  <link rel="stylesheet" type="text/css" href="/css/styling.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Teko:400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet">
</head>
<body>
  <div id="container">
    <h1 class="header">Alexa Themer</h1>
    <ul class="navBtn">
      <a href="/">Home</a>
      <a href="/login">Log In</a>
      <a href="/upload">Upload A Song</a>
      <a href="/stop">Stop</a>
    </ul>
  	{{{body}}}
  </div>
</body>
</html>
