<form action="/login" method="post">
	<table>
			<tr>
					<td class="label">Username:</td>
					<td><input type="text" name="username"/></td>
			</tr>
			<tr>
				<td><input type="submit" name="mysubmit" value="Submit"></td>
			</tr>
	</table>
</form>
