<div id="body">
<h1 class="subHeader">Log In</h1>
<div id="mainTable">
  <form action="/login" method="post">
  <input type="text" name="username" value="Enter Username"><br>
  	<input type="submit" name="mysubmit" value="Play Song">
  </form>
</div>
</div>