<div id="body">
	<h1 class="subHeader">Upload a song</h1>
	<div id="mainTable">
		<form action="/upload" method="post" encType="multipart/form-data">
					<input type="text" name="username" value="Username" />
					<br>
					<td class="label">Upload file: </td>
					<input type="file" name="music" />
					<input type="submit" name="mysubmit" value="Submit">
		</form>
	</div>
</div>