<form action="/upload" method="post">
	<table>
		<tr>
			<td class="label">Upload file: </td>
			<td><input type="file" /></td>
		</tr>
		<tr>
			<td><input type="submit" name="mysubmit" value="Submit"></td>
		</tr>
	</table>
</form>
